<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YANDEX_CLIENT_ID</key>
	<string>$(YANDEX_CLIENT_ID)</string>
	<key>YANDEX_CLIENT_SECRET</key>
	<string>$(YANDEX_CLIENT_SECRET)</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>NSCameraUsageDescription</key>
	<string>Камера используется для AR-навигации по маршруту</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Геолокация нужна для отображения вашего положения на карте и навигации</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Фоновая геолокация используется для умных уведомлений о достопримечательностях поблизости</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
